
{% extends 'first.html' %}

{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    
    <div class="row">
        {% include 'dashboard_sidebar.html' %}
        
        
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add Details</h4>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">first Name</label><input type="text" class="form-control" placeholder="first name" value="" name="first_name"></div>
                    <div class="col-md-6"><label class="labels">last Name</label><input type="text" class="form-control" value="" placeholder="last name"name="last_name"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="" name="phone"></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="" name="email"></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value="" name="address_line1"></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value="" name="address_line2"></div>
                    <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="City" value="" name="city"></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="State" value="" name="state"></div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" placeholder="Country" value="" name="country"></div>
                  
                    
                   
                </div>

                
                <div class="mt-5 text-center"><input type="submit" class="btn btn-primary" value="Add Address"></div>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            

            <div class="card">
                <div class="card-header">
                  <h3>All Address</h3>
                </div>

                {% for address in addresses %}
                <div class="card-body">
                  
                  <p class="card-text">Name : {{address.first_name}} {{address.last_name}}</p>
                  <p class="card-text">Phone Number : {{address.phone}} </p>
                  <p class="card-text">Email : {{address.email}} </p>
                  <p class="card-text">Place :{{address.address_line1}} {{address.city}} {{address.state}}</p>
                  <a href="{% url 'deladdress' address.id %}" class="btn btn-sm btn-danger">Delete</a>
                  <a href="{% url 'editaddress' address.id %}" class="btn btn-sm btn-info">Edit</a>
                  <hr>
                </div>
                {% endfor %}
               
              </div>
        </div>
    </div>
</div>
</div>
</div>
    

{% endblock %}